@use "sass:math";

@use "../utils/initial";
@use "../utils/mixins";

$offset: 2 * initial.$gap !default;
$max-width: initial.$fullhd !default;

@function calc-max-width($value) {
  @return math.min($value, $max-width) - $offset;
}

.container {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: 100%;

  &.is-fluid {
    max-width: none !important;
    padding-left: initial.$gap;
    padding-right: initial.$gap;
  }

  &.is-max-tablet {
    max-width: initial.$tablet - $offset;
  }

  @include mixins.desktop {
    max-width: initial.$desktop - $offset;
  }

  @include mixins.until-widescreen {
    &.is-widescreen:not(.is-max-tablet):not(.is-max-desktop) {
      max-width: calc-max-width(initial.$widescreen);
    }
  }

  @include mixins.until-fullhd {
    &.is-fullhd:not(.is-max-tablet):not(.is-max-desktop):not(
        .is-max-widescreen
      ) {
      max-width: calc-max-width(initial.$fullhd);
    }
  }

  @include mixins.widescreen {
    &:not(.is-max-tablet):not(.is-max-desktop) {
      max-width: calc-max-width(initial.$widescreen);
    }
  }

  @include mixins.fullhd {
    &:not(.is-max-tablet):not(.is-max-desktop):not(.is-max-widescreen) {
      max-width: calc-max-width(initial.$fullhd);
    }
  }
}
