@use "../mixins";

.is-hidden {
  display: none !important;
}

@include mixins.mobile {
  .is-hidden-mobile {
    display: none !important;
  }
}

@include mixins.tablet {
  .is-hidden-tablet {
    display: none !important;
  }
}

@include mixins.tablet-only {
  .is-hidden-tablet-only {
    display: none !important;
  }
}

@include mixins.touch {
  .is-hidden-touch {
    display: none !important;
  }
}

@include mixins.desktop {
  .is-hidden-desktop {
    display: none !important;
  }
}

@include mixins.desktop-only {
  .is-hidden-desktop-only {
    display: none !important;
  }
}

@include mixins.widescreen {
  .is-hidden-widescreen {
    display: none !important;
  }
}

@include mixins.widescreen-only {
  .is-hidden-widescreen-only {
    display: none !important;
  }
}

@include mixins.fullhd {
  .is-hidden-fullhd {
    display: none !important;
  }
}
