@use "initial";

// Responsiveness

@mixin mobile {
  @media screen and (width < initial.$tablet) {
    @content;
  }
}

@mixin more-than-mobile {
  @media screen and (width >= initial.$tablet), print {
    @content;
  }
}

@mixin tablet {
  @media screen and (width >= initial.$tablet), print {
    @content;
  }
}

@mixin tablet-only {
  @media screen and (width >= initial.$tablet) and (width < initial.$desktop) {
    @content;
  }
}

@mixin touch {
  @media screen and (width < initial.$desktop) {
    @content;
  }
}

@mixin until-desktop {
  @media screen and (width < initial.$desktop) {
    @content;
  }
}

@mixin desktop {
  @media screen and (width >= initial.$desktop) {
    @content;
  }
}

@mixin desktop-only {
  @if initial.$widescreen-enabled {
    @media screen and (width >= initial.$desktop) and (width < initial.$widescreen) {
      @content;
    }
  }
}

@mixin until-widescreen {
  @if initial.$widescreen-enabled {
    @media screen and (width < initial.$widescreen) {
      @content;
    }
  }
}

@mixin widescreen {
  @if initial.$widescreen-enabled {
    @media screen and (width >= initial.$widescreen) {
      @content;
    }
  }
}

@mixin widescreen-only {
  @if initial.$widescreen-enabled and initial.$fullhd-enabled {
    @media screen and (width >= initial.$widescreen) and (width < initial.$fullhd) {
      @content;
    }
  }
}

@mixin until-fullhd {
  @if initial.$fullhd-enabled {
    @media screen and (width < initial.$fullhd) {
      @content;
    }
  }
}

@mixin fullhd {
  @if initial.$fullhd-enabled {
    @media screen and (width >= initial.$fullhd) {
      @content;
    }
  }
}

@mixin from($device) {
  @media screen and (width >= $device) {
    @content;
  }
}

@mixin until($device) {
  @media screen and (width < $device) {
    @content;
  }
}

@mixin between($from, $until) {
  @media screen and (width >= $from) and (width < $until) {
    @content;
  }
}

@mixin breakpoint($name) {
  $breakpoint: map-get(initial.$breakpoints, $name);

  @if $breakpoint {
    $from: map-get($breakpoint, "from");
    $until: map-get($breakpoint, "until");

    @if $from and $until {
      @include between($from, $until) {
        @content;
      }
    } @else if $from {
      @include from($from) {
        @content;
      }
    } @else if $until {
      @include until($until) {
        @content;
      }
    }
  }
}
